<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Join | Javascript Duel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body class="centered-form">
    <div class="centered-form__form">
    <form action="/" method="POST">

        <div class="form-field"><h3>Javascript duel</h3></div>
        <div class="form-field">
            <label for="name">Introduce tu usuario
                <input name="name" type="text">
            </label>
        </div>
        <div class="form-field">
            <label for="room">Nombre de la sala
                <input type="text" name="room">
            </label>
        </div>
        <div class="form-field">
            <button>Entrar</button>
        </div>
    </form>
    </div>
</body>
</html>