body, header, h1, h3, main, ul, li, span, p, section, div, form, input, button{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Kaushan Script', cursive;
    background-image: linear-gradient(-45deg, #232526, #414345);
    color: #eeeeee;
    text-align: center;
    height: 10vh;
}
main{
    display: flex;
    align-items: stretch;
    height: 90vh;
}
aside{
    font-family: 'Fredoka One', cursive;
    font-size: 2em;
    color: #eeeeee;
    height: 100%;
    background-image: linear-gradient(225deg, rgb(49,84,129), rgb(39,107,130));
    flex-basis: 20%;
    text-align: center;
}
ul{
    list-style: none;
}
li{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
li > span{
    color: #111111;
    font-size: 20px;
    padding: 5px;
    background-color: yellow;
    border-radius: 1.5em;
    margin: 0 1em;
}
li > span:nth-child(2){
    background-color: transparent;
}
section{
    font-family: 'Fira Sans', sans-serif;
    background-color: lightblue;
    flex: 1;
    position: relative;
}
section > div:first-child{
    text-align: center;
    font-size: 2.5em;
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 1em;
}
.finalScoreTitle{font-size: 1.5em;}
section > div ul{
    font-family: 'Helvetica';
    padding-left: 2em;
    max-height: 12em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#info{
    margin-top: 1%;
    background-color: #eeeeee;
    width: 98%;
    border-radius: 1em;
    height: 10%;
    text-align: center;
}
#chat{
    margin-top: 1%;
    height: 80%;
    background-color: #eeeeee;
    width: 98%;
    border-radius: 1em;
}
input{
    width: 98%;
    margin: 1% 1% 0;
    border-radius: 0.5em;
    padding: 0 5px;
    outline: none;
}
input[type="submit"]{
    display: none;
}